body {
    font-family: "Lato", sans-serif;
    font-weight: 409;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: 3.5rem;
        text-decoration: overline;
        background: linear-gradient(to right, #1df403, #ffeb07,#da24b2,#ff00eb);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        //text-shadow: 0 0 35px #607d8b;
        overflow: hidden;
        animation:animate 6s linear infinite;
        //#03a9f4

        @include respond(tab-port) {
            font-size: 2rem;
            font-weight: 600;
        }

        @keyframes animate {

            0%,10%,100%
            {
                width: 0;
            }
            80%,90%
            {
                width: 100%;
            }
        }

        
        
       
        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;

        @include respond(phone) {
            letter-spacing: .5rem;
            
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #03a9f4, #ffeb07,#2196f3,#ff00eb);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    bottom: 30rem;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
        bottom: 20rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
        bottom: 15rem;
    }

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }

    &__E{
        bottom: 30rem;
    }


}



.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}