.feature-box {
    background-color: rgba($color-black, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    position: relative;
    bottom: 30rem;
    box-shadow: 0 0.2rem 1rem rgba($color-black, .15);
    transition: transform .3s;

    &__te{
        box-shadow: 0 0.2rem 1rem #2196f3;
       // box-shadow: 0 0.2rem 1rem rgb(33 150 243 / 74%);

    }

    &__ta{
        box-shadow: 0 0.2rem 1rem #2196f3;
       // box-shadow: 0 0.2rem 1rem rgb(33 150 243 / 74%);

    }

    &__ti{
        box-shadow: 0 0.2rem 1rem  #2196f3;
       // box-shadow: 0 0.2rem 1rem rgb(33 150 243 / 74%);

    }

    &__tu{
        box-shadow: 0 0.2rem 1rem #2196f3;
       // box-shadow: 0 0.2rem 1rem rgb(33 150 243 / 74%);

    }

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        //-webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}